$gridGutter: 23px;
$colorBody: #E5E5E5;
$colorBlock: #202020;
$colorOrange: #FF6E30;
$colorOrangeDark: #BC572B;
$colorOrangeMedium: #CE4307;
$colorWhite: #FFFFFF;
$colorText: #CACACA;
$colorForm: #4A4A4A;
$colorDate: #999999;
$colorFormContacts: #E9E9E9;
$colorError: #FF3030;
